.article-details-page {
    min-height: 100vh;
    background-color: var(--bg-color);
    padding-bottom: 4rem;
    

    .loading-container {
        text-align: center;
        padding-top: 5rem;
        font-size: 1.2rem;
        color: #666;
    }

    .content-container {
        max-width: 800px;
        margin: 4rem auto 0;
        padding: 0 2rem;

        h1 {
                font-family: var(--font-heading);
                font-size: 3rem;
                line-height: 1.1;
                
                color: var(--primary-color);
                margin: 0;
                margin-bottom: 3%;
                text-shadow: none;
            }

        .back-link {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 2rem;
            color: var(--text-dark);
            text-decoration: none;
            font-weight: 600;
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 0.2s;
            font-family: var(--font-header);

            &:hover {
                color: var(--primary-color);
                transform: translateX(-5px);
                font-weight: 800;
            }
        }

        .article-header {
            margin-bottom: 2rem;
            

            .article-date {
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.9rem;
                color: var(--text-dark);
                font-weight: 600;
                margin-bottom: 0.8rem;
                font-family: var(--font-header);
            }

            
        }

        .image-wrapper {
            margin-bottom: 3rem;

            .article-main-image {
                width: 100%;
                height: auto;
                border-radius: 5px;
                display: block;
            }
        }

        .body-text {
            font-size: 1.2rem;
            line-height: 1.8;
            color: #25303a;
            white-space: pre-line;
            font-family: var(--font-header);
        }

        .article-footer {
            margin-top: 5rem;
            padding-bottom: 2rem;
            font-family: var(--font-header);

            .divider {
                height: 1px;
                background-color: #eee;
                margin-bottom: 1rem;
                width: 100%;
            }

            .meta-info {
                color: var(--text-dark);
                font-size: 0.85rem;
                font-family: sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

        }
    }

    @media (max-width: 768px) {
        .content-container {
            margin-top: 2rem;
            .article-header h1 { font-size: 2.2rem; }
            .body-text { font-size: 1.1rem; }
        }
    }
}