.filter-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 1rem 1.5rem;
        padding-bottom: 1.5rem;
        justify-content: center;
    }

    button {
        background: transparent;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: var(--font-header);
        color: #5e5e5e;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: var(--primary-color);
            transform: scaleX(0);
            transition: transform 0.3s ease;

        }

        &:hover {
            color: var(--primary-color);
        }

        &.active {
            color: var(--primary-color);
            font-weight: 700;

            &::after {
                transform: scaleX(1);
            }
        }
    }
}