@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {

    --primary-color: #1F3B32;
    --accent-color: #F2A900;

    --bg-color: #ececec;
    --accent-bg: #efefef;

    --text-dark: #101010;
    --text-dark-accent: #4a4a4a; 
    
    --text-light: #fff5ea;
    --text-light-accent: #ffe2c1;

    --font-heading: 'Playfair Display', serif;
    --font-main: 'DM sans', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
    text-shadow: none;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
  list-style: none; 
}