@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Playfair+Display:wght@400;700&display=swap');

:root {
    --primary-color: #1F3B32;
    --text-color: #1a1a1a;
    --bg-color: #ffffff;
    --accent-bg: #f4f4f4;

    --font-main: 'Inter', system-ui, sans-serif; 

    --font-heading: 'Playfair Display', serif;
    --accent-color: #F2A900;

    --text-light: #ffffff;
    --text-dark: #1a1a1a; //Ändra här för tillgänglighetskrav sen
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
  list-style: none; 
}