:root {
    --primary-color: #008000;
    --text-color: #1a1a1a;
    --bg-color: #ffffff;
    --accent-bg: #f4f4f4;

    --font-main: 'Inter', system-ui, sans-serif; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
  list-style: none; 
}